<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Bella Italia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item pl-3">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item pl-3">
          <a class="nav-link" routerLink="/category">Menu</a>
        </li>
        <li class="nav-item pl-3">
          <a class="nav-link" routerLink="/reviews">Reviews</a>
        </li>
      </ul>
    </div>
    <app-cart-status></app-cart-status>
  </div>
</nav>
<!-- end of navigation -->

<div class="container-fluid">

<!-- Main Content -->  
<router-outlet></router-outlet>
<!-- End of Main Content -->

<!-- footer -->
<div class="footer row d-flex justify-content-center pt-4">
  <div class="col-md-3 col-11 pb-3">
    <p class="footer-title">opening hours</p>
    <p class="footer-content"><span class="days">Monday: </span><span class="pl-3">Closed</span></p>
    <p class="footer-content"><span class="days">Tuesday - Saturday: </span><span class="pl-3">10am - 11pm</span></p>
    <p class="footer-content"><span class="days">Sunday: </span><span class="pl-3">12pm - 10pm</span></p>
  </div>
  <div class="col-md-3 col-11 pb-3">
    <p class="footer-title">contact us</p>
    <p class="footer-content"> 999 Shop Street, Galway City Centre, Co. Galway</p>
    <p class="footer-content">(091) 987 6543</p>
    <p class="footer-content" id="email">info@bellaitaliagalway.ie</p>
  </div>
  <div class="col-md-3 col-11 pb-3">
    <p class="footer-title">follow us</p>
    <a routerLink=""><i class="fab fa-facebook-f"></i></a>
    <a routerLink=""><i class="fab fa-instagram"></i></a>
    <a routerLink=""><i class="fab fa-twitter"></i></a>
    <p class="footer-title">leave a review</p>
    <p class="footer-content"><a routerLink="/submit-review">Submit a review</a></p>
  </div>
</div>
<div class="footer-bottom row d-flex justify-content-center">
  <p class="col-md-3 col-12 pt-4 pb-3">Copyright &copy; | Bella Italia Restaurant 2021</p>
</div>
<!-- end of footer -->

</div>

